<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="col-sm-6">
      <h1>Login</h1>
      <form
        #customerLog="ngForm"
        novalidate
        (ngSubmit)="onSubmitSignIn(customerLog.value)"
        action="submit"
        class="col bokaform"
      >
        <div>
          <label>Email : </label>
          <input
            type="text"
            ngModel
            name="username"
            placeholder="email@domain.com"
            #username="ngModel"
          />
        </div>

        <div>
          <label>Password : </label>
          <input
            type="text"
            ngModel
            name="password"
            placeholder="Password"
            #password="ngModel"
          />
        </div>

        <button class="btn-primary" type="submit">Login</button>
      </form>
    </div>
    <li class="badge badge-default">
      <a href="/Register" class="primary">Register</a>
    </li>
    <!-- Register below \/  and Login above /\  -->
  </body>
</html>
