<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>
    <Div>
      <div *ngFor="let customer of customers">
        <div class="border">
          <form
            #customerPost="ngForm"
            (ngSubmit)="onSubmit(customerPost.value)"
            action="submit"
            class="col bokaform"
          >
            <div>
              <label>FirstName : </label>
              <input
                VALUE="Bob"
                type="text"
                ngModel
                name="FirstName"
                placeholder="{{ customer.firstName }}"
                [value]="customer.firstName"
              />
            </div>
            <div>
              <label>LastName : </label>
              <input
                type="text"
                ngModel
                name="LastName"
                placeholder="{{ customer.lastName }}"
              />
            </div>
            <div>
              <label>Email : </label>
              <input
                type="text"
                ngModel
                name="Email"
                placeholder="{{ customer.email }}"
              />
            </div>
            <div>
              <label>Id : </label>
              <input
                type="text"
                ngModel
                name="Id"
                placeholder="{{ customer.id }}"
              />
            </div>
            <div>
              <label>Adress : </label>
              <input type="text" name="Adress" ngModel placeholder="address" />
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
        <br />
      </div>
    </Div>
  </body>
</html>
